<!DOCTYPE html>
<html>
  <head>
    <style id="critical-css" type="text/css">{{#css}}{{.}}{{/css}}</style>
  </head>
  <body>
    <div id="app" data-jshook="app-body">{{{ renderedHtml }}}</div>

    {{# assets.js }}<script src="/assets/{{.}}"></script>{{/ assets.js }}
  </body>
</html>
